body {
/*background-color: white;
font-family: 'Slabo 27px', serif;*/
background-color:rgb(182,193,255);
font-family: 'Alegreya', serif;
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.nav {
  float: left;
  padding: 14px 16px;
  border-right:1px solid #bbb;
  display: block;
  color: white;
}
.nav a {
  text-decoration: none;
  color: white;
  float:left;
  text-align: center;
}
.active {
  background-color: #4CAF50;
  color: 	#00FF7F;
  color: white;
}
table, th , td {
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
}
h3 {
  margin: 7px;
  text-align:center;
}
